<div id="urlInputHolder">
  {{input value:listOfUrls id="urlList"}}
  <button id="btn-submit-url" type="button" class="btn btn-success">Submit</button>
</div>
<div id="table-holder">
  <table class="table">
    <thead>
      <tr>
        <th>URL</th>
        <th>Status</th>
        <th>Added By</th>
      </tr>
    </thead>
    <tbody>
           
      <tr class="success">
        <td>http://www.ember.com</td>
        <td>Up</td>
        <td>john@example.com</td>
      </tr>
      <tr class="danger">
        <td>http://www.fake-url.xyz</td>
        <td>Down</td>
        <td>mary@example.com</td>
      </tr>
      <tr class="success">
        <td>http://www.apple.com</td>
        <td>Up</td>
        <td>john@example.com</td>
      </tr>
      <tr class="success">
        <td>http://www.banana.com</td>
        <td>Up</td>
        <td>john@example.com</td>
      </tr>
      
    </tbody>
  </table>
</div>