<ul class="nav nav-tabs" style="padding:5px">
  <li class="nav-item">
    <a class="nav-link active"  href="/dashboard/overview">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  <button id="logoutButton" class="btn btn-primary" {{action "logoutUser"}}>Logout</button>

</ul>

{{outlet}}
